.main{
  background-color: #4b545d;
  border-radius: 5px;
  padding: 20px 0;
}

.container{
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

.topChart
{
  display: table;
   table-layout: fixed;
   width: 100%;
   margin-bottom: 30px;
}

.progress{
  position: relative;
  float:left;
  text-align: center;
  margin-bottom: 2px;
  height: 130px
}
.barOverflow{ /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden; /* Comment this line to understand the trick */
  width: 260px; height: 130px; /* Half circle (overflow) */
  margin-bottom: 14px;
}
.bar{
  position: absolute;
  top: 0; left: 0;
  width: 260px; height: 260px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 40px solid #596169;     /* half gray, */
  border-bottom-color: #67a3e7;  /* half azure */
  border-right-color: #67a3e7;
}

.semi{
  width: 220px;
}

.active{
  color: #67a3e7;
  font-weight: 100;
  font-size: 50px;
  height: 52px;
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 'Open Sans';
}

.activeClients{
  text-align: center;
  color: #d2d3d4;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
}



.progressBar{
  height: 80px;
  width: 5px;
  background-color: #596169;
  position: relative;
  margin: auto;
  transform: rotate(180deg);
  margin-bottom: 2px;
}

.filler{
  background-color: #67a3e7;
  width: 100%;
  border-radius: 0 0 50px 50px;
  vertical-align: bottom;
}

table.charts {
  background-color: inherit;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}
table.charts tr
 {
  border: inherit;
}
table.charts tr td
{
  vertical-align: bottom;
  padding: 10px 25px 0px 25px;
  border-collapse: collapse;
  white-space: nowrap;
}

table.charts tr td:first-of-type
{
  width: 260px;

}

table.charts tr td:last-of-type
{
  width: 80px;

}


#charts.charts tr td{
  border-collapse: collapse;
  width: 100%;
  width:1%;
  white-space: fit-content;
  padding: 0 1px 0 1px;
}

.arrow{
  font-size: 10px;
  color: #67a3e7;
  margin: 0 auto;
  text-align: center;

}

.clients{
  text-align: center;
  padding-bottom: 2px;
}

.top{
  float: right;
  padding-right: 15px;
  filter: contrast(0%);

}

.top:hover{
  filter: contrast(100%);
}

table.charts tr td.clientsTop{
  color: #67a3e7;
  font-weight: 500;
  padding-left: 30px;
}
